.background-svg-login{
    background-image: url('../assets/svg/Vector\ 11-left-side-background-svg-login-page.svg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
}
.main-container{
    width: 100%;
    height: 100vh;
}
.main-content{
    width: 75%;
}

@media (max-width: 540px) {
    div[class = 'col background-svg-login']{
      display: none;
    }
    .main-content{
        width: 100%;
    }
    .svg-top-left{
        display: block !important;
    }

  }