*{
    box-sizing: border-box;
}
@font-face {
    font-family: Noto Sans;
    src: url('../assets/fonts/Noto_Sans/NotoSans-Regular.ttf');
}
@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}
body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}


.welcome-to{
    color: #FFF;
    font-family: Noto Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.susan-joy-act-math{
    color: #FFF;
    font-family: Noto Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.hero-image{
    width: 400px;
    height: 350px;
}
.sign-up{
    color: #743FCB;
    font-family: Noto Sans;
    font-weight: 600;
}
.profile-img{
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}
.want-to-be-part{
    color: #232740;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.input-control{
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #743FCB;
    background: #FFF;
    padding-left: 40px;
}
.input-svg{
    top:9px;
    left: 9px;
}
.bit-wide{
    width: 20px;
    height: 20px;
}
.submit-input-control{
    border-radius: 5px;
    background: #743FCB;
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    color: #FFF;
    border: none;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.or{
    color: #232740;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.continue-with-google {
    display: inline-flex;
    width: 100%;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #743FCB;
    background: #FFF;

}
.continue-with-google p{
    color: #743FCB;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: .75;
    }
  .forgot-password p{
    color: #743FCB;
  }

  /*email code verify page style */
  .varification-heading{
    color: #743FCB;
    font-family: 'Roboto';
    font-weight: 700;
 

}
  .varification-message{
    color: #232740;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
  }
  
.main-container{
    height: 100vh;
    width: 100%;
}
/* Profile setting page */

.nav-items-fonts-props{
    color: rgba(0, 0, 0, 0.75);
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.active{
    color: #743FCB;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.popuz-quiz{
    display: inline-flex;
    padding: 8px 27px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #743FCB;
    color: #743FCB;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Question page style */






/* question-2 page style */



/* popup quiz page style */


.popup-quiz-title{
    color: #743FCB;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.modal-head{
    color: #743FCB;
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.modal-marks{
    color: #232740;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.modal-message{
    color: #232740;
    font-family: Roboto;
    font-weight: 400;
}
.modal-button{
    display: inline-flex;
    padding: 8px 36px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #743FCB;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}
.modal-button-leave{
    display: inline-flex;
    padding: 8px 36px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: white;
    color: black;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #743FCB;
}


