*{
    box-sizing: border-box;
}
@font-face {
    font-family: Noto Sans;
    src: url('../assets/fonts/Noto_Sans/NotoSans-Regular.ttf');
}
@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}
body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.background-svg{
    background-image: url('../assets/svg/signup-left-background-svg.svg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
}
.background-svg-login{
    background-image: url('../assets/svg/Vector\ 11-left-side-background-svg-login-page.svg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
}
.welcome-to{
    color: #FFF;
    font-family: Noto Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.susan-joy-act-math{
    color: #FFF;
    font-family: Noto Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.hero-image{
    width: 400px;
    height: 350px;
}
.sign-up{
    color: #743FCB;
    font-family: Noto Sans;
    font-weight: 600;
}
.profile-img{
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}
.want-to-be-part{
    color: #232740;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.input-control{
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #743FCB;
    background: #FFF;
    padding-left: 40px;
}
.input-svg{
    top:9px;
    left: 9px;
}
.bit-wide{
    width: 20px;
    height: 20px;
}
.submit-input-control{
    border-radius: 5px;
    background: #743FCB;
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    color: #FFF;
    border: none;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.or{
    color: #232740;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.continue-with-google {
    display: inline-flex;
    width: 100%;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #743FCB;
    background: #FFF;

}
.continue-with-google p{
    color: #743FCB;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: .75;
    }
  .forgot-password p{
    color: #743FCB;
  }
  /* Email varification page style */

  .my-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .email-varification-heading{
    color: #743FCB;
    font-family: 'Roboto';
    font-weight: 700;
  }
  .email-varification-message{
    color: #232740;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .current-email{
    color: #232740;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  /* code verify page style */

.main-container{
    height: 100vh;
    width: 100%;
}
/* Profile setting page */

.nav-items-fonts-props{
    color: rgba(0, 0, 0, 0.75);
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.active{
    color: #743FCB;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.popuz-quiz{
    display: inline-flex;
    padding: 8px 27px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #743FCB;
    color: #743FCB;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.profile-settings{
    color: #743FCB;
    font-family: 'Roboto';
    font-weight: 700;
}
.public-profile{
    color: #743FCB;
    font-family: 'Roboto';
    font-weight: 400;;
}
.change-pic{
    display: inline-flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #743FCB;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.delete-pic{
    display: inline-flex;
    padding: 4px 9px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #743FCB;
    background: #FFF;
    color: #743FCB;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.reset-password{
    color: #743FCB;
    font-family: 'Roboto';
    font-weight: 400;
}
.follow-the-following{
    color: #232740;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.row label{
    color: #232740;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.save-changes{
    width: 500px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #743FCB;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* home page style  */

.banner-container{
    height: 27vh;
}
.banner{
    background-image: url(../assets/svg/banner-img.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.grow-your-skill{
    color: #FFF;
    font-weight: 700;

}
.banner-img-1{
    position: absolute;
    top: 0;
    left: 15px;
}
.millions-of{
    color: #FFF;
    font-weight: 400;
}
.lets-get-started{
    display: inline-flex;
    padding: 8px 32px 8px 33px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #FFF;
    color: #232740;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.categories{
    color: #743FCB;
    font-family: 'Roboto';
    font-weight: 700;
}
.content{
    width: 92%;
}

.choose-your-fav{
    color: #232740;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.card{
    width: 26.3rem;
    cursor: pointer;
}
.card-title{
    color: #232740;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.card-text{
    color: #232740;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Question page style */

.round-slider{
    width: 50px ;
    height: 50px;
}
.trignometory{
    color: #743FCB;
    font-family: 'Roboto';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.slider-height{
    height: 8vh;
}
.slider-list{
    display: flex;
    transition: transform 0.5s ease; 
}

.slider-container{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.slider-items{
    width: 10%; /* Set the width of each item */
    flex-shrink: 0;
    padding: 5px;
}
.slider-items { 
    padding: 5px 17px;
    border-radius: 50px;
    color: #C4C4C4;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.slider-active{
    color: white !important;
    background: #743FCB;
    flex-shrink: 0;
}

.prev-button{
    top: 6px;
    left: 20px;
}
.next-button{
    top: 6px;
    right: 20px;
}
.next, .previous{
    width: 42px;
    height: 42px;
    flex-shrink: 0;
}
.previous-icon{
    top: 10px;
    left: 8px;
}
.next-icon{
    top: 10px;
    left: 10px;
}
.mark-the-one{
    color: #414040;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.question-no-1{
    color: #232740;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.a-article{
    color: #414040;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ten{
    color: white;
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 5px;
    left: 7px;
}

.options{
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 30px;
    color: black;
    padding: 10px;
}
.options > .first-p{
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.options > .last-p{
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.option-selected{
    white-space: inherit;

    padding: 10px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #5AA139;
    color: white;
}

.option-selected-wrong{
    white-space: inherit;
    width: 230px;
    padding: 10px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #F14336;
    color: white;
}

.cotent-container-answered{
    border-radius: 5px;
    border: 1px solid #E9AC06;
    background: #FFF;
}
.cotent-container-correct{
    border-radius: 5px;
    border: 1px solid #32A24A;
    background: #FFF;
}
.cotent-container-wrong{
    border-radius: 5px;
    border: 1px solid #F14336;
    background: #FFF;
}

.cotent-container-wrong-message{
    height: 115px;
    border-radius: 5px;
    background: #FEE;
}
.answered-qs{
    color: #232740;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* question-2 page style */
.graph-border{
    border: 5px solid lightskyblue;
}
.sorry-your-answer{
    color: #F14336;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.watch-video{
    font-family: Roboto;
    font-weight: 400;
}
.embaded-video{
    height: 50vh;
    width: 100%; 
}
.re-attempt-or-skip{
    display: inline-flex;
    padding: 8px 26px 8px 27px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #743FCB;
    border-radius: 5px;
    border: 1px solid #743FCB;

}

.message-end{
    background: rgba(255, 241, 199, 0.84);
}


/* popup quiz page style */


.popup-quiz-title{
    color: #743FCB;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.youtube-video__head{
    color: #232740;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.youtube-video__description{
    color: #232740;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modal-head{
    color: #743FCB;
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.modal-marks{
    color: #232740;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.modal-message{
    color: #232740;
    font-family: Roboto;
    font-weight: 400;
}
.modal-button{
    display: inline-flex;
    padding: 8px 36px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #743FCB;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}
.modal-button-leave{
    display: inline-flex;
    padding: 8px 36px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: white;
    color: black;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #743FCB;
}


