.background-svg-login{
    background-image: url('../assets/svg/Vector\ 11-left-side-background-svg-login-page.svg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
}
.main-container{
    width: 100%;
    height: 100vh;
}
.main-content{
    width: 75%;
}

.login{
    font-size: 48px;
    color: #743FCB;
    font-family: Noto Sans;
    font-weight: 600;
}
.profile-img{
    width: 116px;
    height: 116px;
}

.want-to-be-part{
    font-size: 16px;
}

.input-control{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #743FCB;
    padding-left: 40px;
    font-size: 16px;
}
.input-svg{
    top:15px;
    left: 9px;
}
.bit-wide{
    width: 20px;
    height: 20px;
}
.submit-input-control{
    border-radius: 5px;
    background: #743FCB;
    width: 100%;
    height: 56px;
    color: #FFF;
    border: none;
    font-size: 18px;
    font-weight: 600;
}
.or{
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}
.continue-with-google {
    display: inline-flex;
    width: 100%;
    height: 50px;
    padding: 14px;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    border-radius: 30px;
    border: 1px solid #743FCB;
}
.continue-with-google p{
    color: #743FCB;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: .75;
    }
  .forgot-password p{
    color: #743FCB;
  }
@media (max-width: 540px) {
    .login{
        font-size: 28px;
    }
    .profile-img{
        width: 90px;
        height: 90px;
    }
    .want-to-be-part{
        font-size: 14px;
    }
    div[class = 'col background-svg-login']{
      display: none;
    }
    .main-content{
        width: 100%;
    }
    .svg-top-left{
        display: block !important;
    }
    .submit-input-control{
        font-size: 16px;
    }
    .or{
        font-size: 18px;
    }

  }