@font-face {
    font-family: Noto Sans;
    src: url(../../user/assets/fonts/Noto_Sans/NotoSans-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../../user/assets/fonts/Roboto/Roboto-Regular.ttf);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}