
.sidebar__link-icon{
    width: 35px;
    height: 35px;
}
.def-color{
    fill: #565656;
}
.rounded-border{
    border-radius: 18px;
}
.bg-color{
    background-color: rgba(116, 63, 203, 0.05);
}
.nav-link:hover svg{
    fill: white;
}
.nav-link:hover{
    background-color: #743FCB;
}

.active {
    background-color: #743FCB;
    fill : white;
}
.logo-height{
    height: 10vh;
}
.logo-svg{
    height: 40px;
    width: 40px;
}
.nav-height{
    height: 100vh;
}
.padding{
    padding: 11px 17px;
}


.dashboard__heading{
    font-size: 35px;
    color: #743FCB;
    font-weight: 700;
}
.dashboar-head-container--categories{
    background-color: #F7A94A;
    padding: 36px 61px;
}
.dashboar-head-container--users{
    background-color: #F14336;
    padding: 36px 61px;
}
.dashboar-head-container--questions{
    background-color: #28B446;
    padding: 36px 61px;
}
.dashboar-head-container__title{
    color: #FFF;
    font-weight: 600;

}
.dashboar-head-container__icons {
    width: 71px;
    height: 71px;
   
}
.dashboar-head-container__icons path{
    fill: white;
}
.dashboar-head-container__desc{
    color: #FFF;
}

.dashboard__roundslider--success{
    font-size: 20px;
    font-weight: 700;
    color: #28B446;
}
.dashboard__roundslider--danger{
    font-size: 20px;
    font-weight: 700;
    color: #F14336;
}
.line-graph-container-title{
    line-height: 20px;
    font-weight: 700;
}
.chart-container{
    height: 30vh;
    width: 100%;
    /* width: 30%; */
    /* border: 1px solid red */

}
#myDonutChart{
    width: 100% !important;
    height: 100% !important;
    /* border: 1px solid red */
}
#myLineChart{
    width: 100% !important;
    height: 100% !important;
}
#myBarChart{
    width: 100% !important;
    height: 100% !important;
}
#datepicker{
    width: 105px;
}
.ui-datepicker-calendar {
    display: none;
 }
 .ui-datepicker-month {
    display: none;
 }
 .ui-datepicker-next,.ui-datepicker-prev {
   display:none;
 }

 .dropdown{
    display: inline-block;
}
.dropbtn{
    text-decoration: none;

    border: none;
    background-color: #F2EFF6;
    color: black;
}
.dropdown-content{
    display: none;
    width: 124px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    z-index: 1;
}
.dropdown-content li{
    display: block;
    color: black;
    text-decoration: none;
    padding: 7px 10px;
    text-align: center;
}
.dropdown-content li:hover{
    background-color:rgba(116, 63, 203, 1);
    color: white;
}
.dropdown:hover .dropdown-content{
    display: block;
}