
.main-container{
    width: 100%;
    height: 100vh;
}

.login-top-left-svg{
    background-image: url(../assets/svgs/admin-login-left-top-svg.svg);
    background-repeat: no-repeat;
    

}
.sign-up{
    font-size: 48px;
    font-family: Noto Sans;
}
.input-control{
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #743FCB;
    background: #FFF;
    padding-left: 40px;
}
.input-svg{
    top:15px;
    left: 9px;
}
.bit-wide{
    width: 20px;
    height: 20px;
}
.submit-input-control{
    border-radius: 5px;
    background: #743FCB;
    width: 100%;
    height: 50px;
    color: #FFF;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.content{
    width: 70%;
    height: 60vh;
}